<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Hello, world!</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Goodbye, ' + ${name} + '!'" />
    <p th:text="${commentary}" />
</body>
</html>
